@keyframes appear-flip {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
    background-color: #e24d86; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
    background-color: rgba(0, 0, 0, 0); } }

@keyframes appear-flip-modal {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(60px);
    background-color: #e24d86; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
    background-color: #f9fafc; } }

@keyframes hide-flip-modal {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px); }
  100% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(60px) scale(0.6); } }

@keyframes appear-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes appear-slide {
  0% {
    opacity: 0;
    transform: translateY(-30px);
    margin-top: -100px; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1;
    margin-top: 0;
    transform: translateY(0); } }

@keyframes hide-slide {
  0% {
    opacity: 1;
    margin-top: 0;
    transform: translateY(0); }
  40% {
    opacity: 0; }
  100% {
    opacity: 0;
    transform: translateY(-30px);
    margin-top: -100px; } }

.Cart {
  border-radius: 1px;
  padding-bottom: 10px; }

.Cart .cart-products {
  perspective: 3000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.Cart .cart-products.opened {
  animation: appear-slide 1s cubic-bezier(0.69, 0.26, 0.36, 0.87) forwards; }

.Cart .cart-products.closed {
  animation: hide-slide 1s cubic-bezier(0.69, 0.26, 0.36, 0.87) forwards; }

.Cart .cart-products .message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #545454;
  font-weight: 700; }

.Cart .cart-products .cart-product {
  flex: 1 1;
  text-align: center;
  max-width: 300px; }

.Cart .cart-products .cart-product .product-name {
  font-weight: 700;
  color: #e24d86;
  margin: 5px; }

.Cart .cart-products .cart-product .product-price {
  font-weight: 300;
  color: #545454;
  margin: 5px; }

.Cart .cart-products .cart-product .product-amount {
  display: flex;
  justify-items: center;
  text-align: center;
  justify-content: center;
  margin: 5px; }

.Cart .cart-products .cart-product .product-amount button {
  outline: none;
  border: 1px solid #e24d86;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer; }

.Cart .cart-products .cart-product .product-amount button:hover {
  background-color: #e24d86; }

.Cart .cart-products .cart-product .product-amount button:hover .amount-plus, .Cart .cart-products .cart-product .product-amount button:hover .amount-minus {
  background-color: #f9fafc; }

.Cart .cart-products .cart-product .product-amount button:hover .amount-plus:after, .Cart .cart-products .cart-product .product-amount button:hover .amount-minus:after {
  background-color: #f9fafc; }

.Cart .cart-products .cart-product .product-amount .amount-plus {
  transition: 0.3s;
  display: inline-block;
  height: 2px;
  width: 10px;
  background-color: #e24d86; }

.Cart .cart-products .cart-product .product-amount .amount-plus:after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 10px;
  background-color: #e24d86;
  position: absolute;
  transform: translateX(-5px) rotate(-90deg); }

.Cart .cart-products .cart-product .product-amount .amount-minus {
  transition: 0.3s;
  display: inline-block;
  height: 2px;
  width: 10px;
  background-color: #e24d86; }

.Cart .cart-products .cart-product img {
  max-height: 80px; }

.Cart .toggle-cart {
  position: relative;
  z-index: 1;
  width: 100px;
  border: none;
  outline: none;
  margin: 5px 0 20px 0;
  border-radius: 10px;
  font-size: 1.1em;
  color: #545454;
  cursor: pointer; }

.Cart .toggle-cart .toggle-icon {
  transition: .3s;
  display: inline-block;
  width: 10px;
  height: 2px;
  margin: 5px;
  background-color: #bbb; }

.Cart .toggle-cart .toggle-icon:before {
  transition: .3s;
  content: "";
  position: absolute;
  background-color: #bbb;
  display: block;
  width: 15px;
  height: 2px;
  margin: 5px;
  transform: translate(-50%, -10px); }

.Cart .toggle-cart .toggle-icon:after {
  transition: .3s;
  content: "";
  position: absolute;
  background-color: #bbb;
  display: block;
  width: 5px;
  height: 2px;
  margin: 5px;
  transform: translate(-50%, 0); }

.Cart .toggle-cart:hover {
  color: #1f2831; }

.Cart .toggle-cart:hover .toggle-icon:before, .Cart .toggle-cart:hover .toggle-icon, .Cart .toggle-cart:hover .toggle-icon:after {
  background-color: #e24d86; }

.Cart .total-amount {
  margin-top: 5px;
  text-align: right;
  color: #545454; }
