@keyframes appear-flip {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
    background-color: #e24d86; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
    background-color: rgba(0, 0, 0, 0); } }

@keyframes appear-flip-modal {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(60px);
    background-color: #e24d86; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
    background-color: #f9fafc; } }

@keyframes hide-flip-modal {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px); }
  100% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(60px) scale(0.6); } }

@keyframes appear-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.Cart {
  perspective: 3000px;
  width: 80%;
  margin: 0 auto 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

@media screen and (max-width: 1800px) {
  .Cart {
    max-width: 90%; } }

@media screen and (max-width: 700px) {
  .Cart {
    max-width: 95%; } }

.Cart .cart-product {
  border: 2px solid red;
  flex: 1 1; }

.Cart .cart-product .product-name {
  font-weight: 700;
  color: #e24d86; }

.Cart .cart-product .product-price {
  font-weight: 300;
  color: #545454; }

.Cart .cart-product img {
  max-height: 80px; }
