@import '../../utilities/_palette.sass'
@import '../../utilities/_timers.sass'
@import '../../utilities/_animations.sass'
@import '../../utilities/_sizes.sass'

.Cart
  perspective: 3000px
  width: 80%
  margin: 0 auto 60px auto
  
  // display: grid
  // grid-template-columns: repeat(8, 1fr)
  // grid-column-gap: 40px
  // grid-row-gap: 40px
  display: flex
  flex-wrap: wrap
  justify-content: flex-start

  @media screen and (max-width: 1800px)
    max-width: 90%
  @media screen and (max-width: 700px)
    max-width: 95%
  .cart-product
    border: 2px solid red
    flex: 1 1
    .product-name
      font-weight: 700
      color: $balloon-red
    .product-price
      font-weight: 300
      color: $gray-dark

    img
      max-height: 80px
