@keyframes appear-flip {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
    background-color: #e24d86; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
    background-color: rgba(0, 0, 0, 0); } }

@keyframes appear-flip-modal {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(60px);
    background-color: #e24d86; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
    background-color: #f9fafc; } }

@keyframes hide-flip-modal {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px); }
  100% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(60px) scale(0.6); } }

@keyframes appear-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes appear-slide {
  0% {
    opacity: 0;
    transform: translateY(-30px);
    margin-top: -100px; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1;
    margin-top: 0;
    transform: translateY(0); } }

@keyframes hide-slide {
  0% {
    opacity: 1;
    margin-top: 0;
    transform: translateY(0); }
  40% {
    opacity: 0; }
  100% {
    opacity: 0;
    transform: translateY(-30px);
    margin-top: -100px; } }

.ReactModalPortal > div {
  opacity: 0; }

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  perspective: 2000px; }

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6) !important; }

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0; }

.ReactModalPortal .ReactModal__Overlay--before-close .ProductModal {
  animation: hide-flip-modal 0.3s ease-in-out forwards; }

.ProductModal {
  perspective: 1000px;
  background-color: #f9fafc;
  border-radius: 6px;
  max-width: 600px;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  line-height: 22px;
  opacity: 0;
  animation: appear-flip-modal 0.5s ease-in-out forwards; }

@media screen and (max-width: 700px) {
  .ProductModal {
    box-sizing: border-box;
    line-height: 15px;
    padding: 5px 20px; } }

.ProductModal:focus {
  outline: none; }

.ProductModal strong {
  color: #1f2831;
  font-weight: 700; }

.ProductModal .product-details {
  display: flex;
  color: #1f2831;
  margin: 30px 0; }

.ProductModal .product-details .product-image {
  align-self: center;
  max-height: 300px;
  max-width: 300px; }

.ProductModal .product-details .product-info {
  padding: 40px; }

.ProductModal .product-details .product-info .product-name {
  font-size: 1.5em; }

.ProductModal .product-details .product-info .underscore {
  margin: 20px 0 10px 0;
  height: 4px;
  width: 40px;
  background-color: #e24d86; }

.ProductModal .product-details .product-info .product-price {
  margin-top: 20px;
  font-size: 2em;
  color: #e24d86; }

.ProductModal .product-details .product-info .product-button {
  display: block;
  height: 40px;
  padding: 0 10px;
  margin: 40px auto 0 auto;
  color: #f9fafc;
  font-size: 1.2em;
  background-color: #e24d86;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
  border: 0 solid #fc74a8;
  outline: none; }

.ProductModal .product-details .product-info .product-button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0 0 #fc74a8; }

.ProductModal .product-details .product-info .product-button:active {
  transform: translate(1px, 1px);
  box-shadow: -1px -1px 0 0 #545454; }
