@keyframes appear-flip {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
    background-color: #e24d86; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
    background-color: rgba(0, 0, 0, 0); } }

@keyframes appear-flip-modal {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(60px);
    background-color: #e24d86; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
    background-color: #f9fafc; } }

@keyframes hide-flip-modal {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px); }
  100% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(60px) scale(0.6); } }

.ProductList {
  perspective: 3000px;
  margin: 0 auto 60px auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: rgba(0, 0, 0, 0); }

@media screen and (max-width: 1800px) {
  .ProductList {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px; } }

@media screen and (max-width: 1600px) {
  .ProductList {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media screen and (max-width: 1400px) {
  .ProductList {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 1200px) {
  .ProductList {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 700px) {
  .ProductList {
    grid-template-columns: 1fr; } }

.ProductList .Product {
  opacity: 0; }

.ProductList .Product:nth-child(1) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: -0.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(2) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(3) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 0.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(4) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(5) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 0.45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(6) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(7) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(8) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(9) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 1.05s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(10) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(11) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 1.35s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(12) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(13) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 1.65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(14) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 1.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(15) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 1.95s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(16) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(17) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 2.25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(18) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 2.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(19) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 2.55s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(20) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 2.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(21) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 2.85s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(22) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(23) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 3.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(24) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 3.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(25) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 3.45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(26) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 3.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(27) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 3.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(28) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 3.9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(29) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 4.05s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(30) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 4.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(31) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 4.35s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(32) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 4.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(33) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 4.65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(34) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 4.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(35) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 4.95s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(36) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 5.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(37) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 5.25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(38) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 5.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(39) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 5.55s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(40) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 5.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(41) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 5.85s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(42) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(43) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 6.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(44) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 6.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(45) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 6.45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(46) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 6.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(47) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 6.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(48) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 6.9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(49) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 7.05s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(50) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 7.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(51) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 7.35s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(52) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 7.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(53) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 7.65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(54) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 7.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(55) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 7.95s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(56) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 8.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(57) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 8.25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(58) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 8.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(59) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 8.55s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(60) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 8.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(61) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 8.85s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(62) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(63) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 9.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(64) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 9.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(65) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 9.45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(66) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 9.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(67) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 9.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(68) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 9.9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(69) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 10.05s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(70) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 10.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(71) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 10.35s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(72) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 10.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(73) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 10.65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(74) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 10.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(75) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 10.95s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(76) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 11.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(77) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 11.25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(78) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 11.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(79) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 11.55s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(80) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 11.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(81) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 11.85s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(82) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 12s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(83) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 12.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(84) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 12.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(85) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 12.45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(86) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 12.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(87) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 12.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(88) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 12.9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(89) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 13.05s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(90) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 13.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(91) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 13.35s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(92) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 13.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(93) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 13.65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(94) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 13.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(95) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 13.95s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(96) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 14.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(97) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 14.25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(98) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 14.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(99) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 14.55s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.ProductList .Product:nth-child(100) {
  animation-name: appear-flip;
  animation-duration: 0.5s;
  animation-delay: 14.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }
