@keyframes appear-flip
  0%
    opacity: 0
    transform: rotateY(-90deg) translateY(30px)
    background-color: $balloon-red
  50%
    opacity: .2
  100%
    opacity: 1
    transform: rotateY(0deg) translateY(0px)
    background-color: $white
